html,body{width: 100%;height: 100%;}
.container{width: 100%;height: 100%;overflow: hidden;}
.lottery-wrap{padding-top: 44px;}
.lottery-panel{width: 100%;margin: 0 auto}
.g-lottery-box {
    width: 400px;
    height: 400px;
    margin-left: 30px;
    position: relative;
    background: url(/img/ly-plate-c.gif) no-repeat;
}

.g-lottery-box .g-lottery-img {
    width: 340px;
    height: 340px;
    position: relative;
    background: url(/img/lottery0.png) no-repeat;
    left: 30px;
    top: 30px;
}

.g-lottery-box .playbtn {
    width: 186px;
    height: 186px;
    position: absolute;
    top: 77px;
    left: 77px;
    background: url(/img/playbtn.png) no-repeat;
}

.weui-tabbar__item {
    padding: 12px 0;
}